@model ShopPageModel

<aside class="shop__left">

    <form id="filter-form">
        <input type="hidden" name="Filter.Page" id="page-input" value=@Model.Products.Metadata.CurrentPage />
        <input type="hidden" name="Filter.EachPage" value=@Model.Products.Metadata.PageSize />

        <div class="search-form">
            <input class="search-form__input" name="Filter.Search" type="text" placeholder="Search..." value="@Model.Filter.Search">
            <button class="search-form__button" type="submit"></button>
        </div>
    

        <div class="filters">
            <section class="widget js-slidedown">
                <h2 class="widget__title widget__title_hide-mob">Categories</h2>
                <a class="widget__button js-slidedown-button" href="javascript:void(0);">Categories</a>
                <div class="widget__hide js-slidedown-hide">
                    <div class="checkboxes">
                        @foreach (var category in Model.Categories) // List<Category>
                        {
                            <div class="checkbox">
                                <label class="checkbox__label">
                                    <input type="checkbox"
                                           name="Filter.Categories"
                                           value="@category.Id"
                                           class="checkbox__input"
                                           @(Model.Filter.Categories?.Contains(category.Id) == true ? "checked" : "") />
                                    <span class="checkbox__icon"></span>
                                    <span class="checkbox__text">@category.Name</span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </section>

            <section class="widget js-slidedown">
                <h3 class="widget__title widget__title_hide-mob">Price</h3>
                <a class="widget__button js-slidedown-button" href="javascript:void(0);">Price</a>
                <div class="widget__hide js-slidedown-hide">
                    <div class="range">
                        <div class="range__slider" id="range-slider"></div>
                    </div>
                    <input type="hidden" name="Filter.MinPrice" id="min-price" value="@Model.Filter.MinPrice" />
                    <input type="hidden" name="Filter.MaxPrice" id="max-price" value="@Model.Filter.MaxPrice" />
                </div>
            </section>

            <section class="widget js-more js-slidedown">
                <h3 class="widget__title widget__title_hide-mob">Colors</h3>
                <a class="widget__button js-slidedown-button" href="javascript:void(0);">Colors</a>
                <div class="widget__hide js-slidedown-hide">
                    <div class="checkboxes">
                        @foreach(var size in Model.Sizes) {
                            <div class="checkbox">
                                <label class="checkbox__label">
                                    <input class="checkbox__input" type="checkbox" name="Filter.Sizes" value="@size.Text"
                                    @(Model.Filter.Sizes?.Contains(size.Value) == true ? "checked" : "")>
                                    <span class="checkbox__icon"></span>
                                    <span class="checkbox__text">@size.Text</span>
                                </label>
                            </div>
                        }
                    </div>
                    <a class="widget__deploy deploy-button js-more-button" href="#">Deploy</a>  
                </div>
            </section>
            <button class="apply-button button" type="submit">
                <span class="button__text">Apply filter</span>
            </button>
        </div>

    </form>

    <div class="desktop-items js-from-2">
        <div class="side-items js-content-2">
            <article class="sale-banner">
                <div class="sale-banner__all">
                    <div class="sale-banner__row">
                        <div class="sale-banner__cell">
                            <div class="sale-banner__content">
                                <h4 class="sale-banner__title">Season <span>sale</span></h4>
                                <p class="sale-banner__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla</p>
                                <a class="sale-banner__more read-more" href="shop.html">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sale-banner__border"></div>
                <div class="sale-banner__image" data-bg="https://via.placeholder.com/548x400"></div>
                <a class="sale-banner__link" href="shop.html"></a>
            </article>
        </div>
    </div>

</aside>