@using StoreFront.Domain.Models.Common
@using StoreFront.Domain.Models.OrderModels.Responses
@model PagedList<OrderResponse>


    <div class="orders js-faq">

        @foreach(var order in Model) {
            <div class="order js-faq-item">
                <div class="order__top">
                    <a class="order__button js-faq-button" href="javascript:void(0);">
                        <div class="order-header">
                            <div class="order-header__col">
                                <span class="order-header__number">@order.NameReceiver</span>
                            </div>
                            <div class="order-header__col">
                                <span class="order-header__date">@order.CreatedAt.ToString("MMM dd 'at' HH:mm")</span>
                            </div>
                            <div class="order-header__col">
                                <div class="order-header__status order-status orange">
                                    <div class="order-status__cols">
                                        <div class="order-status__col">@order.OrderStatus</div>
                                        <div class="order-status__col">
                                            <img class="order-status__icon" src="/img/svg/order-icon_1.svg" alt="" style="width:24px; height:19px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-header__col">
                                <span class="order-header__date">@order.PaymentMethod.ToString()</span>
                            </div>
                            <div class="order-header__col">
                                <span class="order-header__date">Items: @order.TotalItems</span>
                            </div>
                            <div class="order-header__col">
                                <span class="order-header__date">Price: @order.TotalPrice.ToString("N0") đ</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="order__hide js-faq-hide">
                    <div class="order__content">
                        <div class="order-table">
                            @foreach(var detail in order.Details!) {
                                <article class="order-table__item">
                                    <div class="order-table__cols">
                                        <div class="order-table__col">
                                            <a class="order-table__image-link" href="/product/@detail.Slug">
                                                <img class="order-table__image" src="@detail.ImageProduct" alt="">
                                            </a>
                                        </div>
                                        <div class="order-table__col">
                                            <h4 class="order-table__title">
                                                <a class="order-table__link" href="/product/@detail.Slug">@detail.NameProduct</a>
                                            </h4>
                                            <span class="order-table__text font-bold">x@(detail.Quantity)</span>
                                        </div>
                                        <div class="order-table__col">
                                            <span class="order-table__price">@detail.Price!.Value.ToString("N0") đ</span>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                        <div class="order-total">
                            <div class="order-total__item">
                                <div class="order-total__col">
                                    <span class="order-total__title">Order amount:</span>
                                </div>
                                <div class="order-total__col">
                                    <div class="order-total__price">@order.TotalPrice.ToString("N0") đ</div>
                                </div>
                            </div>
                            <div class="order-total__item">
                                <div class="order-total__col">
                                    <span class="order-total__title">Delivered to:</span>
                                </div>
                                <div class="order-total__col">
                                    <div class="order-total__text">@order.Address</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        

        @* <div class="order js-faq-item"> *@
        @*     <div class="order__top"> *@
        @*         <a class="order__button js-faq-button" href="javascript:void(0);"> *@
        @*             <div class="order-header"> *@
        @*                 <div class="order-header__col"> *@
        @*                     <span class="order-header__number">№116226274</span> *@
        @*                 </div> *@
        @*                 <div class="order-header__col"> *@
        @*                     <span class="order-header__date">Jul 26, 2020</span> *@
        @*                 </div> *@
        @*                 <div class="order-header__col"> *@
        @*                     <div class="order-header__status order-status green"> *@
        @*                         <div class="order-status__cols"> *@
        @*                             <div class="order-status__col">Delivered</div> *@
        @*                             <div class="order-status__col"> *@
        @*                                 <img class="order-status__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/order-icon_2.svg" alt="" style="width:15px; height:19px;"> *@
        @*                             </div> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </a> *@
        @*     </div> *@
        @*     <div class="order__hide js-faq-hide"> *@
        @*         <div class="order__content"> *@
        @*             <div class="order__content"> *@
        @*                 <div class="order-table"> *@
        @*                     <article class="order-table__item"> *@
        @*                         <div class="order-table__cols"> *@
        @*                             <div class="order-table__col"> *@
        @*                                 <a class="order-table__image-link" href="product_page.html"> *@
        @*                                     <img class="order-table__image" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/50x56" alt=""> *@
        @*                                 </a> *@
        @*                             </div> *@
        @*                             <div class="order-table__col"> *@
        @*                                 <h4 class="order-table__title"> *@
        @*                                     <a class="order-table__link" href="product_page.html">Fashionee - catton shirt (S)</a> *@
        @*                                 </h4> *@
        @*                                 <span class="order-table__text">x1</span> *@
        @*                             </div> *@
        @*                             <div class="order-table__col"> *@
        @*                                 <span class="order-table__price">$33.99</span> *@
        @*                             </div> *@
        @*                         </div> *@
        @*                     </article> *@
        @*                     <article class="order-table__item"> *@
        @*                         <div class="order-table__cols"> *@
        @*                             <div class="order-table__col"> *@
        @*                                 <a class="order-table__image-link" href="product_page.html"> *@
        @*                                     <img class="order-table__image" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/50x56" alt=""> *@
        @*                                 </a> *@
        @*                             </div> *@
        @*                             <div class="order-table__col"> *@
        @*                                 <h4 class="order-table__title"> *@
        @*                                     <a class="order-table__link" href="product_page.html">Spray wrap skirt</a> *@
        @*                                 </h4> *@
        @*                                 <span class="order-table__text">x1</span> *@
        @*                             </div> *@
        @*                             <div class="order-table__col"> *@
        @*                                 <span class="order-table__price">$110.99</span> *@
        @*                             </div> *@
        @*                         </div> *@
        @*                     </article> *@
        @*                 </div> *@
        @*                 <div class="order-total"> *@
        @*                     <div class="order-total__item"> *@
        @*                         <div class="order-total__col"> *@
        @*                             <span class="order-total__title">Order amount:</span> *@
        @*                         </div> *@
        @*                         <div class="order-total__col"> *@
        @*                             <div class="order-total__price">$146.98</div> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                     <div class="order-total__item"> *@
        @*                         <div class="order-total__col"> *@
        @*                             <span class="order-total__title">Delivered to:</span> *@
        @*                         </div> *@
        @*                         <div class="order-total__col"> *@
        @*                             <div class="order-total__text">27 Division St, New York, NY 10002, USA</div> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

    </div>

    <div class="profile-tab__bottom">
        <div class="profile-tab__col">
            <button class="profile-tab__button button">
                <span class="button__text">Delete history</span>
            </button>
        </div>
        <div class="profile-tab__col">
            <div class="profile-tab__checkbox checkbox">
                <label class="checkbox__label">
                    <input class="checkbox__input" type="checkbox">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Show only active</span>
                </label>
            </div>
        </div>
    </div>
